
<div id="page-article-list" data-content="共 <%= page.posts.length %> 篇文章">
    <% var last = 0, year; %>
    <% page.posts.each(function(post){ %>

    <% year = post.date.year(); %>
    <% /*new year*/ %>
    <% if (last != year){ %>
        </section>
        <% last = year; %>
        <section id="year-<%= year %>">
        <h2><%= year %></h2>
        <article>
            <h3><a href="<%- url_for(post.path) %>"><%= post.title %></a></h3>
            <time><%= date(post.date, 'MM-DD') %></time>
        </article>
    <% }else{ %>
        <article>
            <h3><a href="<%- url_for(post.path) %>"><%= post.title %></a></h3>
            <time><%= date(post.date, 'MM-DD') %></time>
        </article>
    <% } %>

    <% }); %>
</div>
