<main id="index-main-container">
    <div id="home-content">
        <h1>
            <% if (theme.index_content['1']) { %>
            <%= theme.index_content['1'] %>
            <% } else { %>
            Hello World
            <% } %>
        </h1>

        <% if (theme.index_content['2']) { %>
        <p><%= theme.index_content['2'] %></p>
        <% } %>
    </div>

    <nav id="site-nav">
        <ul class="list-inline">
            <% for(var key in theme.menu){ %>
            <% if (theme.menu.hasOwnProperty(key) && key !== '首页'){ %>
            <li><a href="<%- theme.menu[key] %>"><%= key %></a></li>
            <% } %>
            <% } %>
        </ul>
    </nav>
</main>

<footer id="index-mastfoot">
    <p>
        <% if (theme.blog_since) { %>
        Since <%= theme.blog_since %> |
        <% } %>
        Powered by <a href="http://www.hexo.io" target="_blank">Hexo</a> |
        <a href="https://github.com/geekwen/hexo-theme" target="_blank">Theme</a> by
        <a href="http://geekwen.github.io" target="_blank">Geekwen</a> |
        <a href="/atom.xml">RSS</a>
    </p>
</footer>
