<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <%
    var title = page.title;
    if (is_archive()) {
        title = '所有文章';
    }
    else if (is_tag()) {
        title = '#' + page.tag;
    }
    %>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <% if(config.author){ %>
    <meta name="author" content="<%= config.author %>">
    <% } %>

    <% if(config.description){ %>
    <meta name="description" content="<%= config.description %>">
    <% } %>

    <% if(config.keywords){ %>
    <meta name="keywords" content="<%= config.keywords %>">
    <% } %>

    <title>
        <% if (title){ %>
        <%= title %> |
        <% } %>
        <%= config.title %>
    </title>

    <%- css('stylesheets/index.min.css') %>
</head>
<body data-theme="<%= theme.default_theme || 'white' %>"
      <% if (is_home()) { %>style="background-image: url(<%= theme.home_background_image %>)" <% } %>}
        %>
>
<span id="#TOP"></span>
<div id="body-inner-container">
    <% if (is_home()){ %>
    <%- body %>
    <% }else{ %>
    <header id="page-masthead" style="background-image: url(<%- page.theme_image || theme.default_page_image %>)">
        <div>
            <a id="page-logo" href="/">
                <% if (theme.logo_url) { %>
                <img id="logo" src="<%= theme.logo_url %>" alt="logo">
                <% } %>

                <% if (theme.site_url) { %>
                <%= theme.site_url %>
                <% } else { %>
                Home
                <% } %>
            </a>
            <nav id="site-nav">
                <ul class="list-inline">
                    <% for(var key in theme.menu){ %>
                    <% if (theme.menu.hasOwnProperty(key)){ %>
                    <li><a href="<%- theme.menu[key] %>"><%= key %></a></li>
                    <% } %>
                    <% } %>
                </ul>
            </nav>
        </div>
    </header>

    <main id="page-main-container">
        <div id="page-main-inner-wrap">
            <div id="page-content">
                <div id="page-title-header">
                    <% if (!is_post()){ %>
                    <h1 id="page-title">
                        <% if (title){ %>
                        <%= title %>
                        <% }else{ %>
                        <%= config.title %>
                        <% } %>
                    </h1>

                    <p id="page-subtitle">
                        <% if (page.page_subtitle){ %>
                        <%- page.page_subtitle %>
                        <% } else if (is_tag() && theme.tag && theme.tag[title.replace(/^#/, '').toLocaleLowerCase()]) { %>
                        <%- theme.tag[title.replace(/^#/, '').toLocaleLowerCase()] %>
                        <% } %>
                    </p>
                    <% } %>
                </div>
                <%- body %>
            </div>
        </div>
    </main>

    <footer id="page-mastfoot">
        <p>
            Powered by <a href="http://www.hexo.io" target="_blank">Hexo</a> |
            <a href="https://github.com/geekwen/hexo-theme" target="_blank">Theme</a> by
            <a href="http://geekwen.github.io" target="_blank">Geekwen</a> |
            <a href="/atom.xml">RSS</a>
        </p>

        <% if (theme.blog_since) { %>
        <p>Since <%= theme.blog_since %></p>
        <% } %>
    </footer>

    <aside id="theme-selector">
        <ul class="list-unstyled">
            <li data-theme="white">
                <% if (theme.show_theme_selector) { %>
                <button></button>
                <% } %>
            </li>
            <li data-theme="yellow">
                <% if (theme.show_theme_selector) { %>
                <button></button>
                <% } %>
            </li>
            <li data-theme="dark">
                <% if (theme.show_theme_selector) { %>
                <button></button>
                <% } %>
            </li>
            <% if (!is_home()) { %>
            <li data-type="back-to-top">
                <a href="#TOP" id="back-to-top">TOP</a>
            </li>
            <% } %>
        </ul>
    </aside>
    <% } %>
</div>

<% if (theme.show_theme_selector) { %>
<%- js('index.js') %>
<% } %>
</body>
</html>
