<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <%
    var title = page.title;
    if (is_archive()) {
        title = '归档';
    } else if (is_tag()) {
        title = '#' + page.tag;
    }
    %>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <% if(config.author){%>
    <meta name="author" content="<%= config.author %>">
    <%} %>

    <% if(config.description){%>
    <meta name="description" content="<%= config.description %>">
    <%} %>

    <% if(config.keywords){%>
    <meta name="keywords" content="<%= config.keywords %>">
    <%} %>

    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <%- css('stylesheets/style.min.css') %>
</head>
<body>
<div id="loading">
    <div id="loading-box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div id="outer-container">
    <nav id="navbar">
        <ul id="site-menu" class="list-inline">
            <% for(var key in theme.menu){ %>
            <% if (theme.menu.hasOwnProperty(key)){%>
                <li><a href="<%- theme.menu[key] %>"><%= key %></a></li>
            <%}%>
            <% } %>
        </ul>
    </nav>

    <% if (!is_post()){ %>
    <header id="masthead" class="container">
        <% if (title){ %>
        <h1 id="page-title"><%= title %></h1>
        <% }else{ %>
        <h1 id="page-title"><%= config.title %></h1>
        <% } %>

        <% if (page.page_subtitle){ %>
        <p id="page-subtitle"><%= page.page_subtitle %></p>
        <% }else if(theme.subtitle){ %>
        <p id="page-subtitle"><%= theme.subtitle %></p>
        <% } %>
    </header>
    <% } %>

    <%- body %>

    <footer id="mastfoot">
        <p>Powered by <a href="http://www.hexo.io" target="_blank">hexo</a>, <a href="https://github.com/geekwen/hexo-theme-Quiet" target="_blank">theme</a> by <a href="http://geekwen.com">Geekwen</a>. <a href="http://geekwen.com/atom.xml">RSS</a></p>
        <p>Since 2015</p>
    </footer>
</div>
<%- js('script/common') %>
</body>
</html>
