<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <%
    var title = page.title;
    if (is_archive()) {
        title = '文章';
    }
    else if (is_tag()) {
        title = '#' + page.tag;
    }
    %>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <% if(config.author){ %>
    <meta name="author" content="<%= config.author %>">
    <% } %>
    <% if(config.description){ %>
    <meta name="description" content="<%= config.description %>">
    <% } %>
    <% if(config.keywords){ %>
    <meta name="keywords" content="<%= config.keywords %>">
    <% } %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <% if (is_home()) { %>
    <%- css('stylesheets/index.min.css') %>
    <% } else { %>
    <%- css('stylesheets/style.min.css') %>
    <% } %>
</head>
<body>
<% if (is_home()){ %>
<%- body %>
<% }else{ %>
<span id="top"> </span>
<%
    var sidebar_bg = '';
    if (page.sidebar_bg) {
        sidebar_bg = 'style="background-image: url(' + page.sidebar_bg + ')"';
    }
%>
<aside id="sidebar" <%- sidebar_bg %>>
    <div id="sidebar-overlay">
        <div id="sidebar-inner-wrap">
            <nav id="site-nav">
                <ul class="list-unstyled">
                    <% for(var key in theme.menu){ %>
                    <% if (theme.menu.hasOwnProperty(key)){ %>
                    <li><a href="<%- theme.menu[key] %>"><%= key %></a></li>
                    <% } %>
                    <% } %>
                </ul>
            </nav>
            <div id="site-intro">
                <p>
                    <% if (theme.sidebar_content['1']) { %>
                    <%= theme.sidebar_content['1'] %>
                    <% } %>
                    <% if (theme.sidebar_content['2']) { %>
                    <small><%= theme.sidebar_content['2'] %></small>
                    <% } %>
                </p>
                <% if (config.subtitle) { %>
                <p><%= config.subtitle %></p>
                <% } %>
            </div>
        </div>

        <a href="https://unsplash.com" target="_blank" id="image-source" class="align-left hidden-xs"
           data-content="Photo from unsplash.com">i</a>
    </div>
</aside>

<main id="main-container">
    <div id="main-inner-wrap">
        <div id="page-content">
            <% if (!is_post()){ %>
            <% if (title){ %>
            <h1 id="page-title"><%= title %></h1>
            <% }else{ %>
            <h1 id="page-title"><%= config.title %></h1>
            <% } %>

            <% if (page.page_subtitle){ %>
            <p id="page-subtitle"><%= page.page_subtitle %></p>
            <% } %>
            <% } %>

            <%- body %>
        </div>
        <footer id="mastfoot">
            <p>
                Powered by <a href="http://www.hexo.io" target="_blank">Hexo</a> |
                <a href="https://github.com/geekwen/hexo-theme" target="_blank">Theme</a> by
                <a href="http://geekwen.com">Geekwen</a> |
                <a href="/atom.xml">RSS</a>
            </p>

            <% if (theme.blog_since) { %>
            <p>Since <%= theme.blog_since %></p>
            <% } %>
        </footer>
    </div>
</main>

<script>
    var sidebar = document.getElementById('sidebar');
    if (!sidebar.getAttribute('style')) {
        sidebar.setAttribute('style', 'background-image: url(/images/sidebar-bg/' + Math.floor(Math.random() * parseInt('<%= theme.sidebar_content.image_number %>')) + '.jpg)');
    }
</script>
<% } %>
</body>
</html>
