<% if(page.total > 1){ %>
<div class="pagination">
    <ul class="list-inline">
        <% if (page.current > 1){ %>
        <li><a href="<%- url_for(page.prev_link) %>" class="prev">&laquo;</a></li>
        <% } %>

        <% if (page.prev){ %>
        <li><a href="<%- url_for(page.prev_link) %>"><%= page.current - 1 %></a></li>
        <% } %>

        <li><a href="<%- url_for(page.path) %>" class="active"><%= page.current %></a></li>

        <% if (page.next){ %>
        <li><a href="<%- url_for(page.next_link) %>"><%= page.current + 1 %></a></li>
        <% } %>

        <% if (page.current != page.total){ %>
        <li><a href="<%- url_for(page.next_link) %>" class="next">&raquo;</a></li>
        <% } %>
    </ul>
    <p class="page-count">共有 <%= page.total %> 页</p>
</div>
<% } %>